<?xml version="1.0" ?>
<robot name="sauvc_draft2_holes" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find sauvc_draft2_holes_description)/urdf/materials.xacro" />
<xacro:include filename="$(find sauvc_draft2_holes_description)/urdf/sauvc_draft2_holes.trans" />
<xacro:include filename="$(find sauvc_draft2_holes_description)/urdf/sauvc_draft2_holes.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.1737954545454545 0.04346815333244916 -0.5224984201440181" rpy="0 0 0"/>
    <mass value="3.2504313310425768"/>
    <inertia ixx="0.195404" iyy="0.165181" izz="0.2055" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sauvc_draft2_holes_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="steel_satin"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://sauvc_draft2_holes_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
